@model IEnumerable<ERP_JE.Models.Member>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<h1>Membres de DeVinci Junior</h1>
<div class="jumbotron">
    <table id="table_id" class="table table-striped table-hover dt-responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>N° Membre</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Date de Naissance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.IdMember</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Birth.Day.ToString("D2")/@item.Birth.Month.ToString("D2")/@item.Birth.Year.ToString("D4")</td>
            </tr>
            }
        </tbody>
    </table>
    <a class="btn white bg-bleu-EMLV" asp-action="New">Nouveau</a>
    <a class="btn white bg-orange-IIM" onclick="Edit()">Modifier</a>
    <a class="btn white bg-magenta-ESILV" onclick="Details()">Détails</a>
</div>


@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            var table = $('#table_id').DataTable();

            $('#table_id tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

        });

        function Edit() {
            
            var table = $('#table_id').DataTable();
            window.location.href = 'https://localhost:44368/Member/Edit/' + table.row('.selected').data()[0];
        }
        function Details() {
            var table = $('#table_id').DataTable();
            window.location.href = 'https://localhost:44368/Member/Details/' + table.row('.selected').data()[0];
        }
    </script>
}
