@model IEnumerable<ERP_JE.Models.Prospections>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Needs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConcernedBu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreparationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstApproachQuality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeadedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpportunityOfImprovement)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Needs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConcernedBu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreparationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstApproachQuality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadedTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpportunityOfImprovement)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
